*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    transition: all .2s linear;
    /* font-family: gilroy; */
}
html{
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;

}
.btn{
    display: inline-block;
    margin-top: 1rem;
    color: white;
    padding: .8rem 3rem;
    border: .2rem solid orange;
    background: orange;
    cursor: pointer;
}
.btn:hover{
    background-color: rgba(216, 68, 0, 0.623);
}
*::selection{
    color: black;

}
header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #333;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}
header .logo{
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
header .logo span{
    color: orange;
}
header .navbar a{
    color: white;
    font-size: 2rem;
    margin: 0 .8rem;
}
header .navbar a:hover{
    color: orange;
}
header .icons i{
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    margin-right: 2rem;
}
header .icons i:hover{
    color: orange;
}
header .search-bar-container{
    position: absolute;
    top: 100%; left: 0; right: 0;
    padding: 1.5rem 2rem;
    background: #333;
    border-top: .1rem solid rgba(255, 255, 255, .2);
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon( 0 0, 100% 0, 100% 0, 0 0);
}
header .search-bar-container.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
header .search-bar-container #search-bar{
    width: 100%;
    padding: 1rem;
    text-transform: #333;
}
header .search-bar-container label{
    color: white;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
}
header .search-bar-container label:hover{
    color: orange;
}
body{
    height: 20rem;
}
.login-form-container{
    position: fixed;
    top: -120%; left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}
.login-form-container.active{
    top: 0;

}
.login-form-container form{
    margin: 2rem;
    padding: 1-5rem 2rem;
    border-radius: -5rem;
    background: white;
    width: 50rem;
}
.login-form-container form h3{
    font-size: 3rem;
    color: #444;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
}
.login-form-container form .box{
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    margin: .6rem 0;
    border: .1rem solid rgba(0, 0, 0, .3);
    text-transform: none;
}
.login-form-container form .box:focus{
   border-color: orange;
}
.login-form-container form #remember{
    margin:2rem 0;
}
.login-form-container form label{
    font-size: 1.5rem;
}
.login-form-container form .btn{
    display: block;
    width: 100%;
}
.login-form-container form p{
    padding: .5rem 0;
    font-size: 1.5rem;
    color: #666;
}
.login-form-container form a{
    color: orange;
}
.login-form-container form a:hover{
    color: #333;
    text-decoration: underline;
}
.login-form-container #form-close{
    position: absolute;
    top: 2rem; right: 3rem;
    font-size: 5rem;
    color: white;
    cursor: pointer;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
     flex-flow: column;
     position: relative;
     z-index: 0;
}
.home .content{
    text-align: center;
}
.home .content h3{
   font-size: 4.5rem;
   color: white;
   text-transform: uppercase;
   text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .1);
}
.home .content p{
    font-size: 4.5rem;
    color: white;
   padding: .5rem 0;
 }
 .home .content .btn{
     position: absolute;
     font-size: 2rem;
    left: 23%;
 }
 .home .video-container video{
       position: absolute;
       top: 0; left: 0;
       z-index: -1;
       height: 100%;
       width: 100%;
       object-fit: cover;
 }
 .home .controls{
     padding: 1rem;
     border-radius: 5rem;
     background: rgba(0, 0, 0, .7);
     position: relative;
     top: 10rem;
     left: 3%;
 }
 .home .controls .vid-btn{
     height: 2rem;
     width: 2rem;
     display: inline-block;
     border-radius: 50%;
     background: white;
     cursor: pointer;
     margin: 0.5rem;
 }
 .home .controls .vid-btn.active{
     background: orange;
 }
section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    padding: 2.5rem 0;
}
.heading span{
    font-size: 3.5rem;
    background: rgba(255, 165, 0, .2);
    color: orange;
    border-radius: .5rem;
    padding: .2rem .1rem;
    text-transform: uppercase;
}
.heading span.space{
    background: none;
}
.book .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}
.book .row .image{
    flex: 1 1 40rem;
}
.book .row .image img{
   width: 100%;
}
.book .row form{
    flex: 1 1 40rem;
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
}
.book .row form .inputbox{
    padding: .5rem 0;
}
.book .row form .inputbox input{
    width: 100%;
    padding: 1rem;
    border: 1rem solid rgba(0, 0, 0, .1);
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
}
.book .row form .inputbox h3{
    font-size: 2rem;
    margin: 1rem 0;
    color: #666;
}

.package .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

}
.package .box-container .box{
    flex: 1 1 30rem;
}
.package .box-container .box img{
    height: 25rem;
    width: 100%;
    object-fit: cover;
}
.package .box-container .box .content {
    padding: 2rem;
}
.package .box-container .box .content h3{
    font-size: 2rem;
    color: #333;
}
.package .box-container .box .content h3 i{
    color: orange;
}
.package .box-container .box .content p{
    font-size: 1.7rem;
    color: #666;
    padding: 1rem 0;
}
.package .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: orange;

}
.package .box-container .box .content .price{
    font-size: 2rem;
    color: #333;
    padding-top: 1rem;
}
.package .box-container .box .content .price span{
    color: #666;
    font-size: 1.5rem;
}
.btn{
    text-transform: uppercase;
}
.services .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.services .box-container .box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
}
.services .box-container .box i{
    padding: 1rem;
    font-size: 5rem;
    color: orange;
}
.services .box-container .box h3{
    font-size: 2.5rem;
    color: #333;
}
.services .box-container .box i{
    padding: 1rem 0;
    font-size: 3rem;
    color: #666;
}
.services .box-container .box:hover{
    box-shadow: 0 1rem 2rem rgba(15, 15, 15, 0.596);
}


@media (max-width:1200px){
    .navbar{
        display: none;
    }


}
